
@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.paging li {
    list-style: none;
}

#PanelLeft {
    width: 20vw;
    height: 80vh;
    float: left;
    margin-right: 2vw;
}

    #PanelLeft img {
        width: 14vw;
        margin-top: 4vh;
    }

    #PanelLeft label {
        font-family: 'Roboto-Light';
        font-size: 2vw;
        color: silver;
        margin-top: 1vh;
    }

#PanelRigth {
    width: 60vw;
    height: 80vh;
    float: left;
}

#shelf {
    height: 60vh;
    margin-top: 1vh;
    background-image: url('../Assets/Images/backgroundShelf.jpg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% 60vh;
    box-shadow: 2px 2px 6px silver;
}

    #shelf li {
        transition: all .7s ease-in-out;
    }

    #shelf label {
        font-size: 1.5vh;
        color: whitesmoke;
        font-family: "Arial";
    }

.book-element {
    width: 8vw;
    height: 12vh;
    margin-left: 4vw;
    margin-top: 3.5vh;
    margin-bottom: 4.2vh;
    float: left;
    box-shadow: 5px 10px 15px black;
    -moz-transition: all .6s ease-in-out;
    -o-transition: all .6s ease-in-out;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    cursor: pointer;
}

    .book-element:hover {
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

.image-preview {
    height: 12vh;
    width: 7.8vw;
}

.nav-element {
    float: left;
    margin-left: 1vw;
}

.nav-label {
    color: white;
    margin-right: 2vw;
    margin-left: 0.5vw;
}

.navigation {
    background-color: black;
    border-radius: 4px 4px;
    height: 7vh;
    margin: 0;
}

.navigation-element {
    margin-top: 1vh;
    margin-left: 0.8vw;
    float: left;
}

.navigation label {
    color: white;
}

.navigation-text {
    border-radius: 4px;
    width: 15vw;
    height: 3.5vh;
}
